ADONGO TRACY PAULA
M24B38/008
B27291

*Practice Exercise* 
Using the diamonds dataset, test the following hypotheses using very articulate tests in jupyter notebook: 

1) average price of all table categories are the same  

2) average price of "Premium" diamonds is 150

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

diamonds_df = pd.read_excel("diamonds_new.xlsx")
diamonds_df.head()

# to test hypothesis that the average price of all carat categories is the same, we can perform an ANOVA test to determine significant differences

   price  carat      cut color clarity  depth  table     x     y     z
0    326   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    327   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    334   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4    335   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75

# 1) Hypothesis 1: Z-test for comparing the average price of all "table" categories

In [12]:
# Perform pairwise Z-tests (Z-test for two independent samples)
def z_test(group1, group2):
    n1, n2 = len(group1), len(group2)
    mean1, mean2 = np.mean(group1), np.mean(group2)
    std1, std2 = np.std(group1, ddof=1), np.std(group2, ddof=1)
    
    # Z-test formula for two independent samples
    z = (mean1 - mean2) / np.sqrt((std1**2/n1) + (std2**2/n2))
    p_value = 2 * (1 - stats.norm.cdf(abs(z)))
    
    return z, p_value

# Example: Perform Z-test between first two table categories
group1 = diamonds_df[diamonds_df['table_category'] == diamonds_df['table_category'].unique()[0]]['price']
group2 = diamonds_df[diamonds_df['table_category'] == diamonds_df['table_category'].unique()[1]]['price']

z_stat, p_value = z_test(group1, group2)
print(f'Z-statistic: {z_stat}, P-value: {p_value}')

# Since the Z-statistic is negative, it indicates close to no difference between the means of the two groups.
# Since the p-value is above 0.05, we regard the null hypothesis and conclude that the average prices of the table categories aren't different

Z-statistic: -1.8389515653188298, P-value: 0.0659223103512927

# 2) Hypothesis 2: T-test for the average price of "Premium" diamonds being 150

In [13]:
# Filter for Premium diamonds
premium_diamonds = diamonds_df[diamonds_df['cut'] == 'Premium']

# Perform one-sample t-test
t_stat, p_value = stats.ttest_1samp(premium_diamonds['price'], 150)

print(f'T-statistic: {t_stat}, P-value: {p_value}')

#Since the p-value is less than 0.05, the difference between the observed mean and $150 is statistically significant, meaning the average price of Premium diamonds is not $150

T-statistic: 119.73104883785925, P-value: 0.0